* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #DBD3C9;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: #916C80;
}

.header h1 {
  color: white;
  font-family: 'Oswald', sans-serif;
}

.sub-header {
  margin-bottom: 50px;
}

.main-content {
  margin: 20px;
}

.nav-link {
  list-style-type: none;
}

.nav-link a {
  color: white;
  text-decoration: none;
}

.store-photo {
  width: 75%;
  padding: 15px;
  border: 4px solid #916C80;
}

/* This is for the error div */
.more-info {
  width: 200px;
  border: 5px solid red;
}

.plants-in-stock {
  display: flex;
  flex-wrap: wrap;
  /* align-items: flex-start; */
}

.plant-card {
  border: 2px solid purple;
  padding: 10px;
  margin: 10px;
  width: 250px;
}

.plant-card img {
  width: 200px;
}
