body {
  background-color: #DBD3C9;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-color: #916C80;
}

.header h1 {
  color: white;
  font-family: 'Oswald', sans-serif;
}

.main-content {
  font-size: 18px;
}

.nav-link {
  list-style-type: none;
}

.nav-link a {
  color: white;
  text-decoration: none;
}

.store-photo {
  width: 75%;
  padding: 15px;
  border: 4px solid #916C80;
}
